node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
save-lockfile=true
prefer-frozen-lockfile=false
registry=https://registry.npmjs.org/
network-timeout=300000
fetch-retries=10
fetch-retry-mintimeout=30000
fetch-retry-maxtimeout=300000